<%- include ('partials/header') %>
    <main>
        <section class="specificblog-container">
            <div class="specificblog-header">
                <h2><%= data.title %></h2>
                <div class="host-details">
                    <img src="images/defaultavatar.jpg" alt="">
                    <span class="name"><%= data.author %></span>
                    <span class="date"><%= data.updated %></span>
                    <% if (currentuser && currentuser === data.author_id) { %>
                        <div class="edit-delete-options">
                            <a href="/editblog-<%= data.id %>"><i class="fa fa-sharp fa-solid fa-pen fa-xs" style="color: #3498db;"></i></a>
                            <a href="/deleteblog-<%= data.id %>"><i class="fa fa-sharp fa-solid fa-trash fa-xs" style="color: #c0392b;"></i></a>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="specificblog-image">
                <img src="<%= data.image %>" alt="">
            </div>

            <div class="specificblog-content">
                <p><%= data.content %></p>
            </div>
        </section>
    </main>
<%- include ('partials/footer') %>